/*
*       Auteure: Konan-Hoël Lesault
*       Description: css regroupant toutes les spécificités communes à chaque page
*/

@font-face {
    font-family: 'HKGroteskWide-Light';
    src: url(../fonts/HKGroteskWide_2020D/OTF/HKGroteskWide-Light.otf);
}

/**//*PRE-MISE EN PAGE*//**/

body {
    background-color: black;
    font-family: 'HKGroteskWide-Light', sans-serif; /* Ajoutez une police de secours */
    color: rgb(0, 0, 0);
    display: flex; /* Utilisez flexbox */
    flex-direction: column; /* Orientation verticale */
    align-items: stretch; /* assure que les enfants s'étendent en largeur */
    margin: auto;
    min-height: 100vh; /* Utilisez vh au lieu de % */
    width: 100%;
}

html, body {
    overflow-x: hidden; /* Cache le débordement horizontal */
    width: 100%;
    overflow-y: auto; /* permet le défilement vertical si nécessaire */
    margin: 0;
    padding: 0;
}

main {
    flex: 1; /* Cela permet à main de s'étendre pour occuper tout l'espace disponible */
}

/**//**//**//**//**//**//**//**/
/**//*BARRE DE NAVIGATION*//**/
/**//**//**//**//**//**//**//**/

body, ul {
    margin: 0;
    margin: auto;
}

ul
{
    padding: 0;
}

.navbar {
    background-color:  #ffffff;
    overflow: hidden;
    position: relative;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 26px;
    height: 80px; /* Adjust this value for the height of the navbar */
}

.nav-item a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: rgb(45, 90, 187);
}

.nav-highlight {
    background-color: rgb(18, 122, 207);
    height: 5px; /* Ajustez cette valeur pour la hauteur de la ligne rose */
    width: calc(100% - 50px); /* Ajustez 50px pour contrôler le décalage du trait à droite */
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%); /* Déplacez la ligne rose à l'extérieur de la barre de navigation */
    transition: transform 0.3s ease, width 0.3s ease; /* Ajout de la transition pour la largeur aussi */
    box-shadow: 0px 10px 20px rgba(255, 20, 147, 0.7); /* Ombre rose plus grande et plus visible */
}

.navbar:hover .nav-highlight {
    transform: translateX(0);
    width: 100%; /* Ceci couvrira la largeur totale lors du survol */
}

.nav-separator {
    width: 6px; /* Largeur de la séparation verticale */
    height: 40px; /* Hauteur de la séparation verticale */
    background-color: #ffffff; /* Couleur de la séparation */
    margin: 0 10px; /* Marge autour de la séparation */
    border-radius: 5px; /* Ajoutez une bordure arrondie */
}

.nav-scd-separator {
    width: 6px; /* Largeur de la séparation verticale */
    height: 40px; /* Hauteur de la séparation verticale */
    background-color: #000000; /* Couleur de la séparation */
    margin: 0 10px; /* Marge autour de la séparation */
    border-radius: 5px; /* Ajoutez une bordure arrondie */
}

/**//**//**//**//**//**//**//**//**/
/**//*FIN BARRE DE NAVIGATION*//**/
/**//**//**//**//**//**//**//**//**/

/****************************************************************************************************************/

/**//**//**//**//**//**//**//**//**/
     /**//* QUI SUIS-JE ? *//**/
/**//**//**//**//**//**//**//**//**/

.intro {
    background-image: url('../images/backgroundLake.jpg'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* ou 'scroll' si vous ne voulez pas d'effet de parallaxe */
    background-color: black; /* Couleur de fond si l'image ne charge pas */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: flex-start; /* Alignement vertical en haut */
    width: 100%;
    height: 90vh;
    z-index: 1;
    text-align: center;
    padding-top: 14vh; /* Ajoutez du padding en haut pour pousser vers le bas */
}

.portfolio-text {
    margin: 0 auto;
    width: auto;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7); /* Couleur de fond avec opacité pour le texte */
    padding: 45px; /* Ajoutez du padding autour du texte */
}

.portfolio-text h1, .portfolio-text h3 {
    margin: 0;
}

h1{
    font-size: 126px;
}

@media (max-width: 1780px) {
    h1 {
        font-size: 96px;
    }
        h3
    {
        font-size: 20px;
    }
}

h2
{
    font-size: 38px;
}

h3
{
    font-size: 34px;
}

@media (max-width: 1140px) {
    h1 {
        font-size: 72px;
    }
        
    h2
    {
        font-size: 40px;
    }

    h3
    {
        font-size: 20px
    }
}

@media (max-width: 708px) {
    h2 {
        font-size: 32px;
    }
}

@media (max-width: 708px) {
    h1 {
        font-size: 62px;
    }
}

@media (max-width: 708px) {
    h3 {
        font-size: 24px;
    }
}

.qui-suis-je {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    text-align: center;
    margin: auto;
    color: black;
    width: 100%;
    background-color: white;
}

.littletitle {
    margin-bottom: 20px; /* Ajoutez une marge en bas pour espacer le titre */
}

.content {
    display: flex;
}

.qui-suis-je img {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
    height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement */
    margin-bottom: 30px;
}

.text-block {
    width: 100%; /* Assurez-vous que le texte occupe toute la largeur de .content */
    margin: 25px;
    text-align: justify
}

.t-info {
    font-size: 40px;
    margin-left: 15px;
    line-height: 10px; /* Réduit l'espace entre les lignes */
    font-weight: bold;
}

.t-lorem{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 35px;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animatable-image {
    width: 1700px;
    opacity: 0;
    transform: translateY(100%);
}

.image-slide-up {
    opacity: 1;
    transform: translateY(0);
    animation: slideUp 1s ease forwards;
}

.video-container {
    margin: 0 auto;
    padding: 20px 0;
}

video {
    /* Définir la largeur désirée et la hauteur se calculera automatiquement pour maintenir le ratio */
    width: 1630px; /* ou toute autre largeur */
    height: auto;
    max-width: 100%; /* S'assure que la vidéo ne dépasse pas la largeur de l'écran */
}

.video-slider {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #cfcfcfb7;
    border-color: #6b6b6b15;
    font-size: 34px;
    cursor: pointer;
    z-index: 10;
}

.slide-arrow:hover {
    background-color: #cfcfcf;
    border-color: #6b6b6bd7;
}

.prev-arrow {
    left: -50px;
}

.next-arrow {
    right: -50px;
}

.video-description {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 1775px) {
    .slide-arrow {
        top: 92%;
        transform: translateY(10%);
    }

    .prev-arrow {
        left: 0px;
    }
    
    .next-arrow {
        right: 0px;
    }

    /* Si les flèches sont trop grandes sur les petits écrans, réduisez la font-size */
    .slide-arrow {
        font-size: 28px;
    }
}

/**//**//**//**//**//**//**//**//**/
  /**//* FIN QUI SUIS-JE ? *//**/
/**//**//**//**//**//**//**//**//**/

/****************************************************************************************************************/

/**//**//**//**//**//**//**//**//**/
      /**//* TRAVAUX *//**/
/**//**//**//**//**//**//**//**//**/

.mes-travaux
{
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre horizontalement le contenu */
    margin: auto;
}

.mes-travaux h2 {
    margin-bottom: 20px; /* Espace sous le titre */
}

.travaux-container {
    display: flex;
    flex-wrap: wrap; /* Les éléments passeront à la ligne sur les petits écrans */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Alignement vertical si nécessaire */
    gap: 20px; /* Espace entre les éléments */
}

.travail-item {
    margin: 40px; /* Espace autour de chaque élément */
    border-radius: 10px; /* Coins arrondis */
    flex-wrap:wrap;
}

.travail-item p {
    margin: 5px 0; /* Espace au-dessus et en dessous du texte */
}

.t-capacities
{
    text-align: center;
}
/**//**//**//**//**//**//**//**//**/
    /**//* FIN TRAVAUX *//**/
/**//**//**//**//**//**//**//**//**/

/****************************************************************************************************************/

/**//**//**//**//**//**//**//**//**/
      /**//* COMPETENCES *//**/
/**//**//**//**//**//**//**//**//**/

.competences
{
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    margin: auto;
    background-color: white;
    width: 100%;
}

.textContainer
{
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.356);
}

#capacities {
    width: 100%; /* Ajustez en fonction de la largeur désirée */
    margin-right: 150px;
    color: white;
}

#capacities, #capacities ul{
    margin: 0;
    list-style: none; /* Enlève les puces */
    text-align: center; /* Ajustez en fonction de l'alignement désiré */
}

#capacities li {
    background-color: #000000;
    font-size: 32px;
    border-radius: 10px;
    margin-bottom: 9%;
    box-shadow: none;
    border: solid 3px #6b6b6b;
}


#capacities li li{
    max-height:0;
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #444;
    box-shadow: none;
    border:none;
    margin:0;
    height: fit-content;
    
}

#capacities li a{
    display: block;
    white-space: nowrap; /* Empêche le retour à la ligne du texte */
    padding: 8px 16px; /* Ajustez pour plus d'espacement autour du texte */
    font-size: 1.2em;
}

#capacities ul li a, #capacities li:hover li a{
    font-size: 1em;
}

/* Ajout d'un effet hover quand le curseur passe sur au dessus des boutons capacité */
#capacities li:hover{
    background: #405dff;
}

#capacities ul li:last-child {
    border-radius: 0 0 6px 6px;
    border: none;
}

#capacities li:hover li{
    max-height: 15em;
}

#logo{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

.softwares
{
    display:flex;
    justify-content:space-between;
}

@media (max-width: 788px) {
    #capacities {
        width:75%;
    }

    td.first-td, td.second-td
    {
        align-items: center;
    }

    .softwares
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

}

@media (max-width: 458px) {
    #capacities {
        width:50%;
    }
}

.vertical-td {
    width: 200px; /* Largeur de la colonne verticale */
    color: black;
}

.vertical-line {
    width: 3px; /* Largeur de la ligne verticale */
    height: auto; /* Hauteur automatique en fonction du contenu */
    background-color: #000000; /* Couleur de la ligne */
    margin: 0 auto; /* Centre la ligne dans le conteneur */
}

@media (max-width: 1708px) {
    .vertical-line {
        display: none;
    }
}

@media (max-width: 1629px) {
    td{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.td-separator {
    width: 2px; /* Largeur de la séparation verticale */
    height: 560px; /* Hauteur de la séparation verticale */
    background-color: #000000; /* Couleur de la séparation */
}

td{
    width: 500px;
    font-size: 30px;
}

/**//**//**//**//**//**//**//**//**/
    /**//* FIN COMPETENCES *//**/
/**//**//**//**//**//**//**//**//**/

footer {
    display: flex;
    width: 100%;
    height: 90px;
    background-color:  #000000;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
  }

  #contact
  {
    align-items: center;
  }

  .finish-bar {
    list-style: none; /* Supprime les puces de la liste */
    display: flex; /* Utilisez flexbox pour aligner les éléments */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    flex-wrap: wrap;
}

.finish-bar img {
    width: 80px;
    margin-left: 25px;
    margin-right: 25px;
}


@media (max-width: 476px) {
    .finish-bar img {
        width: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 370px) {
    .finish-bar img {
        width: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav-separator{
        display: none;
    }
}


  /**//**//**//**//**//**//**//**//**/
/*/ AJUSTEMENTS RESPONSIVE GENERAUX /*/
  /**//**//**//**//**//**//**//**//**/
  
@media (max-width: 1050px) {
    .navbar-nav {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        font-size: 20px;
    }

    .intro, .qui-suis-je, .mes-travaux, .competences {
        width: 100%; /* Pleine largeur pour petits écrans */
    }

    .content, .travaux-container, #container {
        flex-direction: column;
    }

    .konan-img{
        width: 50%;
    }

    .vertical-td, .vertical-line, .td-separator {
        display: none; /* Cache la ligne verticale pour les petits écrans */
    }

    .travail-item, .textContainer, .softwares {
        width: 75%; /* Pleine largeur pour les sections */
    }

    .travail-item img, .qui-suis-je img {
        max-width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
    }
}